.slider {
  margin-top: 25px;
  height: 262px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#399BD5+0,1e5799+50,ffffff+51,ffffff+100 */
  background: #399BD5 #399BD5;
  background: -webkit-linear-gradient(left, #399BD5 0%, #399BD5 50%, #ffffff 51%, #ffffff 100%) #399BD5;
  background: -webkit-gradient(linear, left top, right top, from(#399BD5), color-stop(50%, #399BD5), color-stop(51%, #ffffff), to(#ffffff)) #399BD5;
  background: linear-gradient(to right, #399BD5 0%, #399BD5 50%, #ffffff 51%, #ffffff 100%) #399BD5;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#399BD5', endColorstr='#ffffff',GradientType=1 ) #399BD5; }

.slider__main {
  float: right;
  width: 855px;
  margin-right: 15px;
  margin-bottom: 0 !important; }

.slider__main-item {
  position: relative; }

.slider__img-1 {
  position: relative;
  width: 855px;
  height: 262px; }

.slider__img-2 {
  z-index: 3;
  position: absolute;
  width: 178px;
  top: 100px;
  left: 520px; }

.slider__img-3 {
  z-index: 2;
  position: absolute;
  width: 165px;
  top: 33px;
  left: 630px; }

.slider__button {
  z-index: 1;
  position: absolute;
  bottom: 38px;
  right: 0;
  line-height: 44px;
  padding: 0 17px 0 82.5px;
  font-weight: 700;
  color: white;
  background: #19B4ED; }

.slider__sub {
  float: left;
  width: 268px;
  height: 262px;
  color: white;
  background: #399BD5;
  padding-right: 10px;
  padding-left: 15px; }
  .slider__sub .slick-list {
    padding: 0 !important; }

.slider__sub-item {
  padding: 23.1px 25px;
  border-bottom: 1px solid #65B6E5 !important;
  outline: none !important;
  cursor: pointer; }

.slick-dots {
  position: absolute;
  left: 45px;
  bottom: 25px;
  text-align: left;
  width: auto; }
  .slick-dots li {
    width: 22px;
    height: 22px;
    background: #ffffff;
    padding: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #128ABB;
    margin: 0 5px 0 0; }
    .slick-dots li.slick-active button {
      background: #128ABB; }
    .slick-dots li button {
      display: block;
      width: 8px;
      height: 8px;
      background: #ffffff; }
      .slick-dots li button:before {
        display: none; }

@media screen and (max-width: 1200px) {
  .slider {
    background: none !important; }
  .slider__main {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .slider__sub {
    display: none;
    float: none; } }

@media screen and (max-width: 1020px) {
  .slider__main {
    width: auto;
    max-width: 855px; }
  .slider__img-1 {
    width: 100%;
    height: auto; }
  .slider__img-2, .slider__img-3 {
    display: none !important; }
  .slider__button {
    padding: 0 30px; } }

@media screen and (max-width: 820px) {
  .slider {
    display: none; } }
